<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Araba_Kiralama.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-5BQNOPU\SQLEXPRESS;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Araba_Kiralama.Properties.Settings.otoKiraDBConnectionString"
            connectionString="Data Source=DESKTOP-5BQNOPU\SQLEXPRESS;Initial Catalog=otoKiraDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Araba_Kiralama.Properties.Settings.ArabaKiralamaDBConnectionString"
            connectionString="Data Source=DESKTOP-5BQNOPU\SQLEXPRESS;Initial Catalog=ArabaKiralamaDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>